body {
    background-color: #0A131E;
}

p {
    font-size: 18px;
    color: #f8f6ed;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 40px;
    color: #f8f6ed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 24px;
    color: #f8f6ed;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.questions {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #0A131E;
}

.card {
    max-width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.question {
    background-color: #EF4B4C;
    min-height: 100px;
}

.question-submitted-by {
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content h2 {
    font-size: 24px;
    color: #f8f6ed;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.question-number {
    font-size: 40px;
    color: #f8f6ed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 80%;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.answer {
    background-color: #43506C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.answer-submitted-by {
    width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.answer-submit {
    background-color: #43506C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid #43506C;
    border-radius: 4px;
    background-color: #0A131E;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    resize: none;
    color: #f8f6ed;
}

button {
    background-color: #0A131E;
    border: none;
    color: #f8f6ed;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    background-color: #f8f6ed;
    color: #0A131E;
}

.popup {
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.username-popup-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #0A131E;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  min-width: 400px;
}

#username-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  color: black;
  width: 150px;
}